.headrer {
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* flex-direction: column; */
    gap: 20px;

}

.images {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}
.header img {
    height: 80px;
    width: 80px;
}