.footer {
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.images {
    display: flex;
    gap: 20px;
}

.footer img {
    height: 40px;
    width: 40px;
    transition: 0.2s all ease-out;
}

.footer img:hover{
    cursor: pointer;
    transform: scale(1.3);
}